@charset "UTF-8";
.facil-commentator-apply-page .tabs {
  margin-bottom: 25px;
}
.facil-commentator-apply-page .first-bd-box {
  margin-bottom: 50px;
}
.facil-commentator-apply-page .ico-direct-btn {
  margin-top: 20px;
}

.facil-education-apply-page .tabs {
  margin-bottom: 25px;
}
.facil-education-apply-page .first-bd-box {
  margin-bottom: 50px;
}
.facil-education-apply-page .ico-direct-btn {
  margin-top: 20px;
}

/* 여기서부터 css 수정 */