.facil-commentator-apply-page .tabs {
  margin-bottom: 25px;
}
.facil-commentator-apply-page .first-bd-box {
  margin-bottom: 50px;
}

.facil-education-apply-page .tabs {
  margin-bottom: 25px;
}
.facil-education-apply-page .first-bd-box {
  margin-bottom: 50px;
}